<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <td>Username: <%= user.username %></td>
      </tr>
      <tr>
        <td>Tips: <%= user.tips %></td>
      </tr>
      <tr>
        <td>Url: <%= user.url %></td>
      </tr>
    </table>
  </body>
</html> 